.router-link-exact-active {
  border-bottom: 3px solid #FFC700;
  padding-bottom: 10px;
}
.router-link-active {
  border-bottom: 3px solid #FFC700;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .router-link-exact-active {
    border-bottom: 3px solid #FFC700;
    padding-bottom: 5px;
  }
  .router-link-active {
    border-bottom: 3px solid #FFC700;
    padding-bottom: 5px;
  }
}